body {
  font-family: 'Poppins', Verdana, sans-serif;
}
header {
  padding: 20px;
}
header h1 {
  font-weight: 300;
  margin: 0;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header p {
  padding: 0 20px;
  margin: 0;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/000/294/21f/37ae664.jpg');
  background-size:auto;
  background-repeat: no-repeat;
  color: white;
  }
.Skills {
  border: 2px solid black;
  padding: 20px;
}
.Job 1 {
  border: 1px solid black;
  padding: 50px;
  text-decoration: overline underline;
}
a:hover {
  font-weight: bold;
}
#footer {
  color: white;
  background-color: grey;
  text-align: center;
}
