img {
  border: solid darkgray;
  border-radius: 100px;
  box-shadow: 3px 7px 7px #888;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #616161;
}

a:hover {
  color: black;
}

h1 {
  margin-bottom: -30px;
  padding: 10px 5px 10px 5px;
  color: black;
  text-align: center;
  font-size: 30px;
}

h2 {
  padding: 5px;
  margin-bottom: -20px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: black;
}

footer {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: -30px;
}

main {
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  font-family: 'Poppins', Verdana, sans-serif;
  margin: 50px;
  padding: 50px;
}

#ContactInfo {
  padding: 0;
  text-align: center;
}

#ContactInfo li {
  display: inline;
  font-size: 20px;
  font-weight: bold;
}

#SkillsList {
  padding: 10px;
}

#Institution1 {
  margin-bottom: -25px;
}

#Degree {
  margin-bottom: -1px;
}

.JobTitle {
  font-style: italic;
  margin-bottom: -25px;
  margin-left: 4px;
}

.DateRange {
  font-style: italic;
  margin-bottom: -10px;
  margin-left: 4px;
}
